*{
    margin: 0;
}
body{
    background: url('/assets/main-bg.jpg') no-repeat center center/cover;
}

.wrapper {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main{
    flex: 1;
}


.container{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}

.header{
    font-style: oblique;
    background-color: whitesmoke;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.footer{
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin: 1rem;
}

.form-group{
    margin: 1rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 78vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.login-container{
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 1000;
    background: white;
    width: 360px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.content{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    color: #ccc;
}

#sign-btn, input{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 20em;
}

.btn-img{
    height :20px;
    width: 20x;
}

.img-btn{
    border: none;
    background :none;
}

#main-bg{
    height: 300px;
    width: 400px;
}
.logo{
    height: 3rem;
    width: 4rem;
}

#signinup-btn{
    color: blue; 
    font-weight: bold;
    cursor: pointer;
 }

 .error{
    color: red;
 }

 #login-redirect-btn{
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: .5rem;
 }
